.git
.github
.venv
venv
__pycache__
*.py[cod]
*.ipynb
*.rar
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
build
dist
*.egg-info
data
**/data
outputs
**/outputs
experiments
**/experiments
*.pt
*.pth
*.ckpt
*.png
*.jpg
*.jpeg
*.pdf
